<!DOCTYPE html>
<html>
  <head>
    <title>RenameReferences</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p style="background-color: red;" class="notice"><%= notice %></p>
    <p style="background-color: red;" class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
